.rootDiv{
    width:100%;
    margin: auto;
}

.title{
    font-size: 2em;
    margin-top: 30px;
    margin-bottom: 60px;
}

.tarifDiv{
    max-width: 900px;
    width: 95%;
    margin:40px auto 25px auto;
    padding:40px 0;
    background-color: rgb(250, 250, 250);
    border-radius: 10px;
    text-align: center;
    box-shadow: 0px 4px 14px 1px grey;
}
.serviceName{
    font-size: 1.6em;
}
.criterName{
    margin-right:8px;
    text-align: left;
    line-height: 1;
    display: inline-block;
}
.criterNameDiv{
    display: inline-block;
    width:6em;
}
.inputDiv{
    /*width: 220px;*/
    display: inline-block;
}
.inputForm{
    margin:0 5px;
    width:9em;
}
.inputContainer{
    width: fit-content;
    margin: auto;
    padding: 0 20px;
    text-align: left;
    margin-bottom: 60px;
}

.submitBut{
    width: 220px;
    height: 2.5em;
    font-size: 1.2em;
}

.serviceDiv{
    margin: 10px 0;
}