<mat-form-field appearance="fill">
<mat-label>{{this.itemName}}</mat-label>
<mat-select [(ngModel)]="selectedItem" [id]="selectedItem.id">
    <mat-option *ngIf="noSelectionItemString">{{this.noSelectionItemString}}</mat-option>
    <mat-option *ngFor="let datasetItem of dataset" [id]="datasetItem.id" [value]="datasetItem.id" (click)="saveSelection(datasetItem)" >
        {{correctlyGenerateName(datasetItem)}}
    </mat-option>
    <mat-option (click)="openDialog()" [value]="true">{{this.newContentItemString}}</mat-option>
</mat-select>
</mat-form-field>