<div class="fit-content" *ngIf="child">

    <h1>{{[child.name]}} {{child.surname}}</h1>
    <mat-card class="fit-content">
    <h2 style="padding-top: 4px" style="text-align: center;">Facturation</h2>

    <div class="display-in-row fit-content">

        <!-- col 1 -->
        <div class="display-in-column fit-content">
            <mat-form-field appearance="fill">
                <mat-label>Mois</mat-label>
                <input matInput id="ymVal" type="month" min="2019-01" value="2019-01" >
            </mat-form-field>

            <button mat-raised-button color="primary" (click)="sendToBackend()" style="width: 100%" >Exporter</button>

        </div>
    </div>
</mat-card>




