<ol>
    <li>
        <input matInput (ngModel)="name" placeholder="nom">
    </li>
    <li>
        <input matInput (ngModel)="surname" placeholder="prénom">
    </li>
    <li>
        <mat-form-field appearance="fill">
            <mat-label>Choose a date</mat-label>
            <mat-datepicker #date></mat-datepicker>
          </mat-form-field>
        <input matInput (ngModel)="name" placeholder="anniversaire">
    </li>
    <li>
        <input matInput (ngModel)="name" placeholder="What's your name?">
    </li>
    <li>
        <input matInput (ngModel)="name" placeholder="What's your name?">
    </li>
    <li>
        <button mat-raised-button (click)="createChild()">Pick one</button>
    </li>
    <li *ngIf="name">
      You chose: <i>{{name}}</i>
    </li>
</ol>