<mat-card class="scrollable-content" style="overflow-y: auto">

    <div class="centered small-bottom-margin">
        <mat-button-toggle-group [(ngModel)]="this.showAdelphie" name="fontStyle">
            <mat-button-toggle value=true>Adelphie</mat-button-toggle>
            <mat-button-toggle class="mat-button-toggle-checked" [ngClass]="{'mat-button-toggle-checked':!this.showAdelphie}">Individuel</mat-button-toggle>
        </mat-button-toggle-group>
    </div>

    <app-classroom [hidden]="showAdelphie" class="fit-content"></app-classroom>
    <app-children [itemsList]= "childrenList" (chold)="this.data.emit($event)"></app-children>

</mat-card>