.rootDiv{
    width:100%;
    margin: auto;
}

.title{
    font-size: 2em;
    margin-top: 30px;
    margin-bottom: 60px;
}

.tarifDiv{
    max-width: 1000px;
    width: 95%;
    margin:40px auto 25px auto;
    padding:40px 0;
    background-color: rgb(250, 250, 250);
    border-radius: 10px;
    text-align: center;
    box-shadow: 0px 4px 14px 1px grey;
}

.inputDiv{
    width: 220px;
    /*display: block;*/
}

.inputContainer{
    width: fit-content;
    margin: auto;
    padding: 0 20px;
    text-align: left;
    margin-bottom: 60px;
}

.submitBut{
    width: 220px;
    height: 2.5em;
    font-size: 1.2em;
}