<div class="rootDiv">
    <div class="tarifDiv">
        <p class="title">Tarifs</p>
        <div class="inputContainer">

            <div class="inputDiv">
                <p>Garderie (Matin)</p>
                <input type="number" name="garderieMatin" min="0">
            </div>

            <div class="inputDiv">
                <p>Cantine</p>
                <input type="number" name="cantine" min="0">
            </div>

            <div class="inputDiv">
                <p>Garderie (Soir)</p>
                <input type="number" name="garderieSoir" min="0">
            </div>

            <div class="inputDiv">
                <p>Centre de loisirs</p>
                <input type="number" name="centreDeLoisir" min="0">
            </div>

        </div>

        <button class="submitBut">
            Valider
        </button>
    </div>
</div>