<div class="rootDiv">
    <div class="tarifDiv">
        <p class="title">Tarifs</p>
        <div class="inputContainer">

            <div *ngFor="let service of tarifServ">
                <div>
                    {{service.name}}
                </div>
                <ul>
                    <li *ngFor="let critere of service.criteres">
                        <span>
                            {{critere.name}}
                        </span>
                        <mat-form-field appearance="fill" class="inputDiv" *ngFor="let item of critere.inputs">
                            <mat-label>{{item.name}}</mat-label>
                            <input type="number" name="garderieMatin" min="0" value="item.value" matInput />
                        </mat-form-field>
                    </li>
                </ul>
            </div>

        </div>

        <button mat-raised-button class="submitBut">
            Valider
        </button>
    </div>
</div>


