<div class="rootDiv">
    <div class="tarifDiv">
        <p class="title">Tarifs</p>
        <div class="inputContainer">

            <mat-form-field appearance="fill" class="inputDiv">
                <mat-label>Garderie (Matin)</mat-label>
                <input type="number" name="garderieMatin" min="0" matInput />
            </mat-form-field>

            <mat-form-field appearance="fill" class="inputDiv">
                <mat-label>Cantine</mat-label>
                <input type="number" name="cantine" min="0" matInput />
            </mat-form-field>

            <mat-form-field appearance="fill" class="inputDiv">
                <mat-label>Garderie (Soir)</mat-label>
                <input type="number" name="garderieSoir" min="0" matInput />
            </mat-form-field>

            <mat-form-field appearance="fill" class="inputDiv">
                <mat-label>Centre de loisirs</mat-label>
                <input type="number" name="centreDeLoisir" min="0" matInput />
            </mat-form-field>

        </div>

        <button mat-raised-button class="submitBut">
            Valider
        </button>
    </div>
</div>