<mat-sidenav-container>

    <mat-sidenav mode="side" opened #sidenav>
        <mat-card>
            Utilisateurs
        </mat-card>
        <mat-card>
            Rôles
        </mat-card>
        <mat-card>
            Réinitialisations des mots de passe
        </mat-card>
        <mat-card>
            Autres
        </mat-card>
    </mat-sidenav>

    <mat-sidenav-content>
        <button mat-fab class="toggleButton" color="primary" (click)="sidenav.toggle();"></button>
        <div class="contenair">
            <div class="component">
                <app-users></app-users>
            </div>
        </div>
    </mat-sidenav-content>

</mat-sidenav-container>