<div class="container">
    <h2>Nom Prenom</h2>
    <h3>Informations</h3>
    <mat-divider></mat-divider>

    <div class="amount-missing">
        <div class="amount">
            <h4>Montant dû cette semaine : {{weekAmount}}</h4>
            <h4>Montant dû ce mois-ci : {{monthAmount}}</h4>
            <h4>Montant dû au total : {{totalAmount}}</h4>
        </div>

        <div class="missing">
            <h4>Absences :</h4>
            <div>
                test
            </div>
        </div>
    </div>
</div>