.list{
    height: 100%;
    text-align:left;
}

.enfants{
    background-color:rgba(250,250,250);
    box-shadow: 0px 4px 14px 1px grey;
    border-radius: 10px;
    margin-left: 2%;
    margin-right: 2%;
}