.container{
  width: 100%;
  margin-right:5%;
  margin-left:5%;
  padding: 5px;
}

.container div{
  display: inline-block;
}

.classes-list{
  width:25%;
  vertical-align: top;
}

.children-list{
  width:25%;
  vertical-align: top;
}

.form{
  width: 50%;
  vertical-align: top;
}