.container{
  height: 100vh;
  width: 100%;
  padding: 5px;
}

.container div{
  display: inline-block;
}

.list{
  width:22%;
  vertical-align: top;
  padding-right:1.5%;
  padding-left:1.5%;
}

.form{
  width: 50%;
  vertical-align: top;
}