/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;}
.background {
z-index: 0;
  background-size: 4px,5%;
  background: coral no-repeat;
}
.foreground{
  z-index: 1;
}
.fit-content{
 display: inline-block;
}
