<div class="fit-content" *ngIf="child" >
    <h1>{{[child.name]}} {{child.surname}}</h1>
    <mat-card class="fit-content">
        <h2 style="padding-top: 4px">Profil</h2>

        <div class="display-in-row fit-content">
            <div class="display-in-column fit-content">
                <mat-form-field appearance="fill">
                    <mat-label>Prénom</mat-label>
                    <input matInput [(ngModel)]="child.name" (keyup)="update(child)">
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Nom</mat-label>
                    <input matInput [(ngModel)]="child.surname">
                </mat-form-field>

                <mat-form-field appearance="fill">
                    <mat-label>Classe</mat-label>
                    <mat-select  [(value)]="child.classroom!.id">
                        <mat-option>Toutes les classes</mat-option>
                        <mat-option *ngFor="let truc of classrooms" [value]="truc.id" (click)="child.classroom = truc" >
                            {{truc.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

            </div>
            <div class="display-in-column fit-content">

                <mat-form-field appearance="fill">
                    <mat-label>Régime alimentaire</mat-label>
                    <input matInput value="{{child.diets}}">
                </mat-form-field>

                <mat-form-field appearance="fill">
                    <mat-label>Allergies</mat-label>
                    <input matInput value="{{child.diets}}">
                </mat-form-field>

                    <app-smart-selector></app-smart-selector>
            </div>
        </div>
        <button mat-raised-button color="primary" style="width: 100%">Enregistrer</button>
    </mat-card>
</div>