<div class="fit-content" *ngIf="child" >
    <h1>{{[child.name]}} {{child.surname}}</h1>
    <mat-card class="fit-content">
        <h2 style="padding-top: 4px">Profil</h2>

        <div class="display-in-row fit-content">

            <!-- col 1 -->
            <div class="display-in-column fit-content">
                <mat-form-field appearance="fill">
                    <mat-label>Prénom</mat-label>
                    <input matInput [(ngModel)]="child.name" (keyup)="update(child)">
                </mat-form-field>

                <mat-form-field appearance="fill">
                    <mat-label>Nom</mat-label>
                    <input matInput [(ngModel)]="child.surname">
                </mat-form-field>

                <mat-form-field appearance="fill">
                    <mat-label>Date de naissance</mat-label>
                    <input matInput [matDatepicker]="picker" [(ngModel)]="child.birthday">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>

                <!-- mat-form-field appearance="fill">
                    <mat-label>Classe</mat-label>
                    <mat-select [(value)]="child.classroom!.id">
                        <mat-option *ngFor="let truc of classrooms" [value]="truc.id" (click)="child.classroom = truc" >
                            {{truc.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field -->

            </div>

            <!-- col 2 -->
            <div class="display-in-column fit-content">

                <app-smart-selector
                        [newContentItemString]="'Ajouter une classe'"
                        [newContentDialog]="ncComp"
                        [dataset]="classrooms"
                        [selectedItem]="child.classroom!.id"
                        (userSelection)="child.classroom=$event"
                ></app-smart-selector>
            </div>

        </div>
        <button mat-raised-button color="primary" (click)="sendToBackend()" style="width: 100%" >Enregistrer</button>
    </mat-card>
</div>