.horizItem{
    display: inline-block;
}
.rootElm{
    width: fit-content;
    margin: 0 auto;
    padding-bottom: 1000px;
}
.rootElm > h1{
    margin-left: max(-30px, -2.5vw);
}
mat-list{
    width:175px;
    text-align: center;
}

.userParent > mat-card:first-child > mat-list > div button{
    margin: 0 2px;
    padding:0 8px;
}

.userParent > mat-card:first-child{
    width: fit-content;
}

.userParent > mat-card:first-child > mat-list > div{
    padding: 16px 0 5px 0;
}

.userParent{
    display: flex;
    padding:40px min(60px, 4vw);
}

.userInf{
    margin-left: min(60px, 4vw);
    margin-top: 10px;
}

.userInf > *{
    margin: 25px 0;
}

.userInf > div{
    display: flex;
    align-items: center;
}
.userInf > div > span{
    margin-top: -0.5em;
}
.userInf > div > mat-form-field{
    width: 11em;
}
.userInf > div .mat-form-field-flex{
    padding: 0 .75em 0 .75em !important;
    font-size: 1.2em;
}


.userInf > * > span{
    font-size: 1.125em;
    margin-right:20px;
    white-space: nowrap;
}

.userInf > mat-card > mat-selection-list{
    margin-left: 1.5em;
}

.saveButton{
    margin: 0;
}

.saveButton > button{
    margin: 0 0 0 auto;
}