<mat-tab-group dynamicHeight>
    <mat-tab label="Accueil" class="tab">
      <p class="background"> <app-home class="foreground"></app-home></p>

    </mat-tab>
    <mat-tab label="Eleves" class="tab">
        <app-children-page></app-children-page>
    </mat-tab>
    <mat-tab label="Tarif" class="tab">
        <app-pricing></app-pricing>
    </mat-tab>
    <mat-tab label="Facturation" class="tab">
        <app-billing></app-billing>
    </mat-tab>
    <mat-tab label="Statistiques" class="tab">Statistiques incroyables</mat-tab>
</mat-tab-group>

<router-outlet></router-outlet>
