.container{
    margin-right: 2%;
}

.amount-missing{
    align-content:left;
    display:flex;
}

#h4{
    text-align: left;
}

.amount{
    text-align:left;

}

.amounts{
    width:50%;
    margin-left:2%;
    margin-top:2%;
}

.missing{
    text-align:left;
    width:45%;
    margin-top: 2%;
}

.missing-ui{
    border:1px solid;
}

.fields{
    text-align:left;
    display:inline-flex;
}

.fields-left {
    text-align:left;
    width:50%;
    padding-left:3%;
    padding-right:3%;
}

.fields-right{
    text-align:left;
    width:50%;
    padding-left:3%;
    padding-right:3%;
}

.field{
    text-align:left;
}


